# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Rider
.idea/

# User-specific files
*.DotSettings.user

# Windows
Thumbs.db
ehthumbs.db

# Packages
/packages/
*.nupkg

# App packages
AppPackages/
Bundle/